.italic-bold {
  font-weight: bold;
  font-style: italic;
  color: red
}

body {
  font-family: helvetica;
  color: white;
}

.lesson {
  background-color: #33bebe;
  padding: 4px;
  border-radius: 10px;
  margin: 10px;
}

h1 {
  color: black;
  font-weight: bolder;
}

.concepts {
  background-color: orange;
  padding: 5px;
  display: flex;
  margin: 10px;
  border-radius: 10px
}

.concept-title {
  font-size: 30px;
  box-sizing: border-box;
  min-width: 200px;
  max-width: 200px;
  margin: 10px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  padding-top: 5px;
  margin: 5px;
}

.concept-body {
  margin: 15px;
  max-width: 600px;
}

.cat {
  box-sizing: border-box;
  width: 200px;
  height: 150px;
  padding-top: 5px;
}